{% extends 'base.html' %}

{% block body %}

<div id="header">
  <h1>Summary of builds:</h1>
  <div id="navbox">
    {% for link in top_links %}
    <span><a href="{{ link["href"] }}">{{ link["text"] }}</a></span>
    {% endfor %}
  </div>
</div>
<div class="content">
  <form>
    Date range:
    <input type="text" style="min-width: 40em" name="date_range" value="{{ date_range if date_range else '' }}">
    <br>
    <p style="font-size: .8em"><i>Limit to builds to this date range, separated by '-'.  Example: <b>jan 1 2020-feb 2022</b></i></p>
  </form>
  <form>
    Hide builds:
    <input type="text" style="min-width: 40em" name="hide_summary" value="{{ hide_summary if hide_summary else '' }}">
    <br>
    <p style="font-size: .8em"><i>Do not show builds containing these substrings.</i></p>
  </form>

  <div class="section">
    <a id="revisions"></a>
    <table style="width:100%">
      <colgroup>
        <col/>
        <col/>
        <col/>
        <col/>
        <col/>
      </colgroup>
      <tr>
        <th class="jobtable_row_jobname">Job</th>
        <th>Average pass count</th>
        <th>Average fail count</th>
        <th>Average filtered fail count</th>
        <th>Build count</th>
      </tr>
      {% for row in rows %}
      <tr>
        <td class="jobtable_row_jobname">{{ row["job"] }}</td>
        <td>{{ row["average_pass_count"] }}</td>
        <td>{{ row["average_fail_count"] }}</td>
        <td>{{ row["average_filtered_pass_count"] }}</td>
        <td>{{ row["build_count"] }}</td>
      </tr>
      {% endfor %}
    <table style="width:100%">
  </div>
</div>

{% endblock %}

